@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    background: orange;
    color: brown;
    font-family: "Indie Flower";
}

h1 {
    color:beige;
    text-align:center;
    font-size:50px;
}

h2 {
    color:maroon;
    font-size: 30px;
    text-align: center;
    border-bottom: 4px dashed black;
    border-top: 4px dashed black
}

h3 {
    font-weight:900;
    font-size:20px;
}

.recipe-section {
    border: 3px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 40px;
    background: rgba(255, 255, 0, 0.362);
}

.links {
    border: solid black;
    border-radius: 20px;
    color: black;
}

img {
    border: solid black;
    border-radius: 10px;
    
}
